/*Custom properties*/

@font-face{
    font-family: bill;
    src: url(../fonts/Billabong.ttf);
}

:root{
    /*Colors*/
    --clr-main-blue : #001f3f;
    --clr-light-blue : 210, 100%, 12%;

    --clr-dark : #222222;
    /*Fonts*/
    --ft-cairo : 'Cairo', sans-serif;
    --ft-bill : bill;
    --ft-rail : 'Raleway', sans-serif;
    --ft-h1-size : 2.188rem;
}



/*Main reset*/
*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    font-size: 1rem;
    font-family: var(--ft-cairo);
}

a{
    text-decoration: none;
    color: inherit;
}
h1{
    font-size: var(--ft-h1-size);
}
/*Utility classes*/
.b-container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 15% 77% 8%;
    grid-template-areas: 
    "h h h h h h h h h h h h"
    "s s s s s s s s s s s s"
    "f f f f f f f f f f f f"
    ;
}
.container{
    margin-inline: auto;
    width: min(90% , 70rem);
    padding-inline: 1em;
}

.flex{
    display: flex;
    justify-content: space-between;
}
.grid{
    display: grid;
}
.text-center{
    align-items: center;
}


/*Color background*/

.bg-main{
    background-color: var(--clr-main-blue);
}
.bg-light{
    background-color:  hsl(210, 100%, 1%);
}
.bg-dark{
    background-color: var(--clr-dark);
}
.bg-white{
    background-color: white;
}
/*Color text*/
.text-blue{
    color: var(--clr-main-blue);
}
.text-light{
    color: var(--clr-light-blue);
}
.text-dark{
    color: var(--clr-dark);
}
.text-black{
    color: black;
}
.text-white{
    color: white;
}

.ft-insta{
    font-family: var(--ft-bill);
}


header{
    display: flex;
    align-items: center;
    grid-area: h;
    border-bottom: 1px solid white;
}
.logo{
    width: 80px;
    height: 100%;
}

.identity , .links{
    flex-basis: 100%;
    transition: 0.3s;
}

.identity{
    display: flex;
    align-items: center;
    gap: 1em;    
}
.identity h1{
    font-family: bill;
}

.links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: auto;
    padding-block: 1em;
}
.links a{
    margin-inline: 0.4em;
    position: relative;
}
.links a:hover{
    box-shadow: 0 2px 0 0 white;
}
header .flex{
    align-items: center;
}

.login-btn{
    padding: 0.7em 1em;
    border-radius: 0.5em;
}

/*Section */

section{
    width: 100%;
    grid-area: s;
}
section .container{
    height: 100%;
}
section .flex{
    height: 100%;
}
section .pic{
    background-image: url('../images/stages.jpg');
    background-size: cover;
    height: 430px;
    width: 90%;
    align-self: center;
}
section article{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.ap .apropos{
    text-align: center;
}
.ap{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}
.ap .container{
    justify-content: center;
    align-items: center;
}
.ap article{
    border: 1px solid #2222;
    border-radius: 1em;
    box-shadow: 1px 1px 1px 1px #ccc;
    height: 80%;
    padding-inline:1em ;
    line-height: 1.5rem;
    min-width: 50%;
}
.ap article img{
    height: 20%;
}
.ap .flex{
    justify-content: center;
}
section .flex img{
    width: 50%;
    max-height: 100%;
}
section .flex article{
    flex-basis: 50%;

}
article h1{
    margin: 0;
}
.logo-inside{
    width: 50%;
}

footer{
    grid-area: f;
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .container{
align-items: center;
gap: 0.4em;
}

footer .container p,.contacts{
    flex-basis: 100%;
}
footer .contacts{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: center;
}
/*Media queries*/

@media (max-width:665px){
    .b-container{
        grid-template-rows: 20% 60% 20%;
    }
    header .flex{
        flex-direction: column;
    }
    header .identity{
        justify-content: center;
    }
    header{
        padding-block: 1em ;
    }
    header .identity h1{
        font-size: 1.5rem;
    }
    section{
        font-size: smaller;
    }
    .pic{
        width: 60% !important;
        height: 50% !important;
    }
    footer{
        font-size: 0.750rem;
    }
}

@media (max-width:383px){
    header .flex{
        flex-direction: column;
    }
    header .identity{
        justify-content: center;
    }
    header{
        padding-bottom: 0.8em ;
    }
    header .identity img{
        width: 40px;
    }
    header .identity h1{
        font-size: 1.5rem;
    }
    header .links a{
        font-size: 0.7rem;
    }
    header .links .login-btn{
        padding: 0.7em;
    }
    .pic{
        display: none;
    }
    section .flex{
        align-items: center;
        justify-content: center;
    }
    footer{
        font-size: 0.720rem;
    }
}

