.cor-section {
  grid-area: s;
  height: 100%;
  background-image: url("../images/grey.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.card-design {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "picture info status";
}

.cor-section .user-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "a a a c c c c c c c c c";
}

.cor-section aside {
  grid-area: a;
  padding: 1em;
  background-color: #ddd;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  overflow: hidden;
  border: 2px solid var(--clr-main-blue);
  width: 80%;
  opacity: 80%;
  overflow: auto;
  height: fit-content;
  overscroll-behavior: contain;
  scroll-snap-type: inline mandatory;
}
.cor-section aside .item:not(:last-child) {
  border-bottom: 2px solid var(--clr-main-blue);
}
.cor-section aside .item {
  padding: 1em;
  width: 100%;
  scroll-snap-align: start;
  scroll-padding-inline: 1em;
}
.cor-section aside .item a {
  transition: 0.4s;
}

.cor-section aside a:hover {
  padding-left: 1.5em;
}

.cor-section .flex-col {
  gap: 1em;
}

.cor-section .content {
  padding: 1em;
  grid-area: c;
  height: 100%;
  overflow: auto;
  overscroll-behavior-inline: contain;
}
.cor-section .content .cards {
  grid-template-columns: repeat(3, 3fr);
  gap: 0.5em;
  height: 100%;
}
.cor-section .content .cards .card {
  background-color: white;
  position: relative;
  padding: 2em;
  display: grid;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "picture info";
  gap: 0.5em;
  box-shadow: 2px 2px 5px 1px #222;
  border-radius: 1em;
  border: 1px solid #332;
  transition: 0.3s;
  opacity: 96%;
}
.cor-section .content .cards .card::after {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background-color: forestgreen;
  border-radius: 1em;
  right: 5%;
  top: 5%;
}
.status {
  position: absolute;
  top: 5%;
  right: 12%;
  font-size: small;
}
.cor-section .content .cards .card .what {
  grid-area: picture;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.cor-section .content .cards .card .info {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  grid-area: info;
  grid-row-start: 2;
  grid-column: span 2;
}
.cor-section .content .cards .card .name-student {
  grid-column-start: 2;
  grid-column: span 2;
  width: 100%;
  grid-row-start: 1;
  place-self: center;
}
.cor-section .content .cards .card .profil-container img:first-child {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin: 0;
}
.cor-section .content .cards .card .profil-container img:last-child {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0;
  position: absolute;
  right: 5px;
  top: 40%;
}
.cor-section .content .cards .card .profil-container {
  position: relative;
  grid-area: picture;
}
.cor-section h4 {
  line-height: 1rem;
}

.user-header a {
  font-size: larger;
}
.user-header .flex > * {
  flex-basis: 33%;
}
.user-header .flex {
  justify-content: space-around;
}

.cards .card:hover {
  background-color: var(--clr-main-blue) !important;
  color: white;
}

@media (max-width: 383px) {
  .b-container {
    grid-template-rows: 20% 70% 10%;
  }
  .cor-section .user-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "a"
      "c";
  }
  .cor-section aside {
    display: flex;
    flex-direction: row !important;
    font-size: smaller;
    text-align: center;
    overflow: auto;
    overscroll-behavior-inline: contain;
    width: 100vw;
    border-radius: unset;
    border: unset;
  }
  .cor-section aside > .item {
    border: unset !important;
    padding-block: 0.2em;
  }
  section {
    overflow: auto;
  }
  .cor-section .content .cards {
    grid-template-columns: 1fr;
    gap: 1em;
    height: 50%;
  }
  section {
    padding-top: 0;
    font-size: smaller;
    font-weight: lighter;
  }
  .cor-section .content .cards .card .profil-container img:first-child {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0;
  }
  .cor-section .content .cards .card .profil-container img:last-child {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0;
    position: absolute;
    right: 13%;
    top: 50%;
  }
  .user-header .links i {
    font-size: 1rem !important;
  }
  .side-bar-not {
    display: none;
  }
}
